* {
    font-family: 'Open Sans', sans-serif;
}
html, body {
    margin: 30px 0 0 0;
    padding: 0;
    background-color: #2580cf;
    justify-content: center;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

header:hover{
    box-shadow:0 -20px 30px #4d4d4d;
}


nav .search-container{
    width: 100%;
    display: flex;
    background-color: #ffffff;
    justify-content: center;
    padding:10px;

}

.search-container input{
    box-sizing: border-box;
    flex-grow: 6;
    padding: 5px;
    border: 1px solid #e0e0e0;
}

.search-container button{
    box-sizing: border-box;
    flex-grow: 1;
    padding: 8px;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    background-color: #2580cf;
    color: white;
    font-weight: bold;
}

.search-container div{
    box-sizing: border-box;
    flex-grow: 4;
}

section{
    background-color: white;
    width: 75%;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

section .post{
    width:80%;
    padding:20px, 20px, 0, 0;
    -webkit-box-shadow: 0px 0px 19px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 19px 3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 19px 3px rgba(0,0,0,0.75);
}

section div{
    margin: 0 auto;
}

.img-profile{
    width: 50px;
}

.img-post{
    width:100%
}

.post button{
    height:50px;
    width:80px;
    background-color: #2580cf;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    cursor: pointer;
    border-radius: 12px;
    padding: 5px;
}
.post button img{
    height: 100%;
}


